.version.a_vida_universit_ria /* version checker */
{
	color: #0000F6;
	background-color: #7318BE;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #2F3E72;
}

#page
{
	z-index: 1;
	width: 358px;
	min-height: 546.7249999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 9px 11px 13.275000000000091px;
}

#menuu6158
{
	z-index: 3;
	width: 357px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6166
{
	width: 69px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6169
{
	width: 69px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u6169:hover
{
	background-color: #DD3061;
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u6171-4
{
	width: 69px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u6169:hover #u6171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6169.MuseMenuActive #u6171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u6187
{
	width: 70px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 71px;
}

#u6188
{
	width: 70px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u6190-4
{
	width: 70px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u6188:hover #u6190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u6173
{
	width: 70px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 143px;
}

#u6176
{
	width: 70px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u6177-4
{
	width: 70px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u6188.MuseMenuActive #u6190-4,#u6176:hover #u6177-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u6180
{
	width: 70px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 215px;
}

#u6181
{
	width: 70px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u6184-4
{
	width: 70px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u6176.MuseMenuActive #u6177-4,#u6181:hover #u6184-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u6159
{
	width: 70px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 287px;
}

#u6162
{
	width: 70px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u6188:hover,#u6176:hover,#u6181:hover,#u6162:hover
{
	background-color: #DD3061;
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u6163-4
{
	width: 70px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u6181.MuseMenuActive #u6184-4,#u6162:hover #u6163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u6162.MuseMenuActive #u6163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u6142
{
	z-index: 36;
	width: 119px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6143
{
	z-index: 37;
	width: 119px;
	border-style: none;
	border-color: transparent;
	background-color: #FFAB3E;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u6143:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6144-4
{
	z-index: 38;
	width: 41px;
	min-height: 11px;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	color: #FAFFE6;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 39px;
}

#u6151
{
	z-index: 2;
	width: 119px;
	height: 34px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 119px;
	background: #5165AD url("../../images/facebook.png") no-repeat center center;
}

#u6152
{
	z-index: 34;
	width: 119px;
	height: 34px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 238px;
	background: #3FB6EA url("../../images/twitter.png") no-repeat center center;
}

#u6151:hover,#u6152:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 119px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu6142,#pu6145
{
	width: 0.01px;
	margin-top: 4px;
}

#u6145
{
	z-index: 35;
	width: 115px;
	border-style: none;
	border-color: transparent;
	background-color: #F73C43;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u6157-4
{
	z-index: 42;
	width: 75px;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 20px;
}

#u6146
{
	z-index: 46;
	width: 116px;
	border-style: none;
	border-color: transparent;
	background-color: #F73C43;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 119px;
}

#u6153-4
{
	z-index: 47;
	width: 59px;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 35px;
}

#u6147
{
	z-index: 51;
	width: 119px;
	border-style: none;
	border-color: transparent;
	background-color: #F73C43;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 238px;
}

#u6149-4
{
	z-index: 52;
	width: 39px;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 45px;
}

#u6155
{
	z-index: 56;
	width: 357px;
	height: 410px;
	border-style: none;
	border-color: transparent;
	background-color: #FFF9F8;
	margin-top: 7px;
	position: relative;
}

#pu6156-4
{
	width: 0.01px;
	margin-left: 97px;
	margin-top: 16px;
}

#u6156-4
{
	z-index: 61;
	width: 35px;
	min-height: 6px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u6154-4
{
	z-index: 65;
	width: 42px;
	min-height: 6px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u6150-4
{
	z-index: 69;
	width: 59px;
	min-height: 6px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u6148-4
{
	z-index: 57;
	width: 265px;
	min-height: 15px;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 45px;
	margin-top: 12px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

