.version.mapa_do_campus /* version checker */
{
	color: #000013;
	background-color: #6A3EC8;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #2F3E72;
}

#page
{
	z-index: 1;
	width: 358px;
	min-height: 546.5249999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 9px 11px 11.475000000000136px;
}

#menuu6865
{
	z-index: 3;
	width: 357px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6894
{
	width: 57px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6897
{
	width: 57px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u6897:hover
{
	background-color: #DD3061;
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u6900-4
{
	width: 57px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u6897:hover #u6900-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u6897.MuseMenuActive #u6900-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u6887
{
	width: 58px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 59px;
}

#u6890
{
	width: 58px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u6892-4
{
	width: 58px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u6890:hover #u6892-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u6873
{
	width: 58px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 119px;
}

#u6874
{
	width: 58px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u6877-4
{
	width: 58px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u6890.MuseMenuActive #u6892-4,#u6874:hover #u6877-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u6901
{
	width: 58px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 179px;
}

#u6904
{
	width: 58px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u6906-4
{
	width: 58px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u6874.MuseMenuActive #u6877-4,#u6904:hover #u6906-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u6880
{
	width: 58px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 239px;
}

#u6881
{
	width: 58px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u6884-4
{
	width: 58px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u6904.MuseMenuActive #u6906-4,#u6881:hover #u6884-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u6866
{
	width: 58px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 299px;
}

#u6869
{
	width: 58px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u6890:hover,#u6874:hover,#u6904:hover,#u6881:hover,#u6869:hover
{
	background-color: #DD3061;
	width: 58px;
	min-height: 0px;
	margin: 0px;
}

#u6872-4
{
	width: 58px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u6881.MuseMenuActive #u6884-4,#u6869:hover #u6872-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u6869.MuseMenuActive #u6872-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu6909
{
	width: 0.01px;
	margin-top: 4px;
}

#u6909
{
	z-index: 41;
	width: 119px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6910
{
	z-index: 42;
	width: 119px;
	border-style: none;
	border-color: transparent;
	background-color: #FFAB3E;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u6910:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6911-4
{
	z-index: 43;
	width: 41px;
	min-height: 11px;
	background-color: transparent;
	color: #FAFFE6;
	font-size: 9px;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 39px;
}

#u6968
{
	z-index: 2;
	width: 119px;
	height: 34px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 119px;
	background: #5165AD url("../../images/facebook.png") no-repeat center center;
}

#u6912
{
	z-index: 40;
	width: 119px;
	height: 34px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 238px;
	background: #3FB6EA url("../../images/twitter.png") no-repeat center center;
}

#u6968:hover,#u6912:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 119px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#menuu7363
{
	z-index: 88;
	width: 357px;
	border-style: none;
	border-color: transparent;
	background-color: #F73C43;
	margin-top: 5px;
	position: relative;
}

#u7392
{
	width: 69px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7393
{
	width: 69px;
	background-color: #F73C43;
	padding-bottom: 1px;
	position: relative;
}

#u7393:active
{
	background-color: #EC1323;
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u7395-6
{
	width: 69px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u7393:active #u7395-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7393.MuseMenuActive #u7395-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7364
{
	width: 70px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 71px;
}

#u7365
{
	width: 70px;
	background-color: #F73C43;
	padding-bottom: 1px;
	position: relative;
}

#u7367-6
{
	width: 70px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u7365:active #u7367-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u7365.MuseMenuActive #u7367-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u7399
{
	width: 70px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 143px;
}

#u7400
{
	width: 70px;
	background-color: #F73C43;
	padding-bottom: 13px;
	position: relative;
}

#u7403-4
{
	width: 70px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u7400:active #u7403-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u7406
{
	width: 70px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 215px;
}

#u7407
{
	width: 70px;
	background-color: #F73C43;
	padding-bottom: 13px;
	position: relative;
}

#u7409-4
{
	width: 70px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	left: 0px;
}

#u7400.MuseMenuActive #u7403-4,#u7407:active #u7409-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u7407.MuseMenuActive #u7409-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u7371
{
	width: 70px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 287px;
}

#u7388
{
	width: 70px;
	background-color: #F73C43;
	padding-bottom: 11px;
	position: relative;
}

#u7365:active,#u7400:active,#u7388:active
{
	background-color: #EC1323;
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u7407.MuseMenuActive,#u7388.MuseMenuActive
{
	background-color: #F73C43;
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u7390-4
{
	width: 56px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u7388:active #u7390-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u7388.MuseMenuActive #u7390-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u7389
{
	z-index: 123;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 56px;
}

.ie #u7389
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7372
{
	width: 70px;
	background-color: transparent;
	top: 25px;
}

#u7373
{
	width: 70px;
	background-color: #F73C43;
	position: relative;
}

#u7377
{
	width: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #F73C43;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u7378-8
{
	width: 60px;
	min-height: 36px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u7377.MuseMenuActive #u7378-8
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7374,#u7381
{
	width: 70px;
	background-color: transparent;
	position: relative;
}

#u7382
{
	width: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #F73C43;
	padding-bottom: 26px;
	position: relative;
	margin-right: -10000px;
}

#u7383-6
{
	width: 60px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
	left: 2px;
}

#u7382.MuseMenuActive #u7383-6
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6966
{
	z-index: 47;
	width: 329px;
	border-style: none;
	border-color: transparent;
	background-color: #FFF9F8;
	margin-top: 6px;
	position: relative;
	padding: 73px 9px 57.150000000000034px 19px;
}

#u6864-10
{
	z-index: 64;
	width: 329px;
	min-height: 86px;
	background-color: transparent;
	color: #6F6F6F;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6864-2
{
	font-size: 36px;
	text-align: center;
	line-height: 43px;
}

#u6864-3,#u6864-5,#u6864-7
{
	font-size: 14px;
	text-align: center;
}

#u6864-8
{
	font-size: 14px;
}

#pu6913
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 18px;
}

#u6913
{
	z-index: 74;
	width: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u6970
{
	z-index: 76;
	width: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 192px;
}

#pu6967-4
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 14px;
}

#u6967-4
{
	z-index: 78;
	width: 111px;
	min-height: 21px;
	background-color: transparent;
	color: #6F6F6F;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u6863-6
{
	z-index: 82;
	width: 147px;
	min-height: 29px;
	background-color: transparent;
	color: #6F6F6F;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 165px;
}

#pu6908-4
{
	width: 0.01px;
	margin-left: 93px;
	margin-top: 15px;
}

#u6908-4
{
	z-index: 52;
	width: 35px;
	min-height: 6px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u6862-4
{
	z-index: 56;
	width: 42px;
	min-height: 6px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 52px;
}

#u6965-4
{
	z-index: 60;
	width: 59px;
	min-height: 6px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 111px;
}

#u6969-4
{
	z-index: 48;
	width: 265px;
	min-height: 15px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 51px;
	margin-top: 15px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

