.version.mapa_da_universidade /* version checker */
{
	color: #0000FC;
	background-color: #F24DEE;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #2F3E72;
}

#page
{
	z-index: 1;
	width: 358px;
	min-height: 546.5249999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 9px 11px 11.475000000000136px;
}

#menuu6626
{
	z-index: 3;
	width: 357px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6655
{
	width: 57px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6656
{
	width: 57px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u6656:hover
{
	background-color: #DD3061;
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u6658-4
{
	width: 57px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u6656:hover #u6658-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u6656.MuseMenuActive #u6658-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u6662
{
	width: 58px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 59px;
}

#u6663
{
	width: 58px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u6666-4
{
	width: 58px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u6663:hover #u6666-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u6627
{
	width: 58px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 119px;
}

#u6628
{
	width: 58px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u6630-4
{
	width: 58px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u6663.MuseMenuActive #u6666-4,#u6628:hover #u6630-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u6641
{
	width: 58px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 179px;
}

#u6642
{
	width: 58px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u6644-4
{
	width: 58px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u6628.MuseMenuActive #u6630-4,#u6642:hover #u6644-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u6634
{
	width: 58px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 239px;
}

#u6635
{
	width: 58px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u6637-4
{
	width: 58px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u6642.MuseMenuActive #u6644-4,#u6635:hover #u6637-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u6648
{
	width: 58px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 299px;
}

#u6651
{
	width: 58px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u6663:hover,#u6628:hover,#u6642:hover,#u6635:hover,#u6651:hover
{
	background-color: #DD3061;
	width: 58px;
	min-height: 0px;
	margin: 0px;
}

#u6652-4
{
	width: 58px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u6635.MuseMenuActive #u6637-4,#u6651:hover #u6652-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u6651.MuseMenuActive #u6652-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu6680
{
	width: 0.01px;
	margin-top: 4px;
}

#u6680
{
	z-index: 41;
	width: 119px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6682
{
	z-index: 42;
	width: 119px;
	border-style: none;
	border-color: transparent;
	background-color: #FFAB3E;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u6682:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6681-4
{
	z-index: 43;
	width: 41px;
	min-height: 11px;
	background-color: transparent;
	color: #FAFFE6;
	font-size: 9px;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 39px;
}

#u6683
{
	z-index: 2;
	width: 119px;
	height: 34px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 119px;
	background: #5165AD url("../../images/facebook.png") no-repeat center center;
}

#u6684
{
	z-index: 40;
	width: 119px;
	height: 34px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 238px;
	background: #3FB6EA url("../../images/twitter.png") no-repeat center center;
}

#u6683:hover,#u6684:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 119px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#menuu7263
{
	z-index: 88;
	width: 357px;
	border-style: none;
	border-color: transparent;
	background-color: #F73C43;
	margin-top: 5px;
	position: relative;
}

#u7292
{
	width: 69px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7293
{
	width: 69px;
	background-color: #F73C43;
	padding-bottom: 1px;
	position: relative;
}

#u7293:active
{
	background-color: #EC1323;
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u7295-6
{
	width: 69px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u7293:active #u7295-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7293.MuseMenuActive #u7295-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u7264
{
	width: 70px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 71px;
}

#u7265
{
	width: 70px;
	background-color: #F73C43;
	padding-bottom: 1px;
	position: relative;
}

#u7267-6
{
	width: 70px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u7265:active #u7267-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u7265.MuseMenuActive #u7267-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u7299
{
	width: 70px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 143px;
}

#u7300
{
	width: 70px;
	background-color: #F73C43;
	padding-bottom: 13px;
	position: relative;
}

#u7303-4
{
	width: 70px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u7300:active #u7303-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u7306
{
	width: 70px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 215px;
}

#u7307
{
	width: 70px;
	background-color: #F73C43;
	padding-bottom: 13px;
	position: relative;
}

#u7309-4
{
	width: 70px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u7300.MuseMenuActive #u7303-4,#u7307:active #u7309-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u7307.MuseMenuActive #u7309-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u7271
{
	width: 70px;
	min-height: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 287px;
}

#u7288
{
	width: 70px;
	background-color: #F73C43;
	padding-bottom: 11px;
	position: relative;
}

#u7300:active,#u7307:active,#u7288:active
{
	background-color: #EC1323;
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u7265.MuseMenuActive,#u7288.MuseMenuActive
{
	background-color: #F73C43;
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u7290-4
{
	width: 56px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
}

#u7288:active #u7290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u7288.MuseMenuActive #u7290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u7289
{
	z-index: 123;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 56px;
}

.ie #u7289
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7272
{
	width: 70px;
	background-color: transparent;
	top: 25px;
}

#u7273
{
	width: 70px;
	background-color: #F73C43;
	position: relative;
}

#u7277
{
	width: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #F73C43;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
}

#u7278-8
{
	width: 60px;
	min-height: 36px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 2px;
}

#u7277.MuseMenuActive #u7278-8
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7274,#u7281
{
	width: 70px;
	background-color: transparent;
	position: relative;
}

#u7282
{
	width: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #F73C43;
	padding-bottom: 26px;
	position: relative;
	margin-right: -10000px;
}

#u7283-6
{
	width: 60px;
	min-height: 24px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	line-height: 12px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
	left: 2px;
}

#u7282.MuseMenuActive #u7283-6
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u6671
{
	z-index: 47;
	width: 329px;
	border-style: none;
	border-color: transparent;
	background-color: #FFF9F8;
	margin-top: 6px;
	position: relative;
	padding: 73px 9px 57.150000000000034px 19px;
}

#u6672-10
{
	z-index: 64;
	width: 329px;
	min-height: 86px;
	background-color: transparent;
	color: #6F6F6F;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u6672-2
{
	font-size: 36px;
	text-align: center;
	line-height: 43px;
}

#u6672-3,#u6672-5,#u6672-7
{
	font-size: 14px;
	text-align: center;
}

#u6672-8
{
	font-size: 14px;
}

#pu6675
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 18px;
}

#u6675
{
	z-index: 74;
	width: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u6678
{
	z-index: 76;
	width: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 192px;
}

#pu6670-4
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 14px;
}

#u6670-4
{
	z-index: 78;
	width: 111px;
	min-height: 21px;
	background-color: transparent;
	color: #6F6F6F;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u6674-6
{
	z-index: 82;
	width: 147px;
	min-height: 29px;
	background-color: transparent;
	color: #6F6F6F;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 165px;
}

#pu6685-4
{
	width: 0.01px;
	margin-left: 93px;
	margin-top: 15px;
}

#u6685-4
{
	z-index: 52;
	width: 35px;
	min-height: 6px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u6673-4
{
	z-index: 56;
	width: 42px;
	min-height: 6px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 52px;
}

#u6669-4
{
	z-index: 60;
	width: 59px;
	min-height: 6px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 111px;
}

#u6677-4
{
	z-index: 48;
	width: 265px;
	min-height: 15px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 9px;
	text-align: center;
	line-height: 11px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 51px;
	margin-top: 15px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

