.version.o_curso_de_lcc /* version checker */
{
	color: #0000E1;
	background-color: #103096;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #2F3E72;
}

#page
{
	z-index: 1;
	width: 358px;
	min-height: 546.7249999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 9px 11px 13.275000000000091px;
}

#menuu2173
{
	z-index: 3;
	width: 357px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2174
{
	width: 69px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2177
{
	width: 69px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u2177:hover
{
	background-color: #DD3061;
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u2178-4
{
	width: 69px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u2177:hover #u2178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u2177.MuseMenuActive #u2178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u2181
{
	width: 70px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 71px;
}

#u2184
{
	width: 70px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u2187-4
{
	width: 70px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u2184:hover #u2187-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u2202
{
	width: 70px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 143px;
}

#u2203
{
	width: 70px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u2203.MuseMenuActive
{
	background-color: #F7366B;
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u2204-4
{
	width: 70px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
	left: 0px;
}

#u2184.MuseMenuActive #u2187-4,#u2203:hover #u2204-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u2188
{
	width: 70px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 215px;
}

#u2191
{
	width: 70px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u2194-4
{
	width: 70px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u2203.MuseMenuActive #u2204-4,#u2191:hover #u2194-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u2195
{
	width: 70px;
	min-height: 39px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 287px;
}

#u2196
{
	width: 70px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 27px;
	position: relative;
}

#u2184:hover,#u2191:hover,#u2196:hover
{
	background-color: #DD3061;
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u2198-4
{
	width: 70px;
	min-height: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 13px;
}

#u2191.MuseMenuActive #u2194-4,#u2196:hover #u2198-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u2196.MuseMenuActive #u2198-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2668
{
	z-index: 36;
	width: 119px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2172
{
	z-index: 37;
	width: 119px;
	border-style: none;
	border-color: transparent;
	background-color: #FFAB3E;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u2172:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2169-4
{
	z-index: 38;
	width: 41px;
	min-height: 11px;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	color: #FAFFE6;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 39px;
}

#u2171
{
	z-index: 2;
	width: 119px;
	height: 34px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 119px;
	background: #5165AD url("../../images/facebook.png") no-repeat center center;
}

#u2165
{
	z-index: 34;
	width: 119px;
	height: 34px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 238px;
	background: #3FB6EA url("../../images/twitter.png") no-repeat center center;
}

#u2171:hover,#u2165:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 119px;
	height: 34px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu2668,#pu2164
{
	width: 0.01px;
	margin-top: 4px;
}

#u2164
{
	z-index: 35;
	width: 115px;
	border-style: none;
	border-color: transparent;
	background-color: #F73C43;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u2166-4
{
	z-index: 42;
	width: 75px;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 20px;
}

#u2170
{
	z-index: 46;
	width: 116px;
	border-style: none;
	border-color: transparent;
	background-color: #F73C43;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 119px;
}

#u2167-4
{
	z-index: 47;
	width: 59px;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 35px;
}

#u2168
{
	z-index: 51;
	width: 119px;
	border-style: none;
	border-color: transparent;
	background-color: #F73C43;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 238px;
}

#u2211-4
{
	z-index: 52;
	width: 39px;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 45px;
}

#u2209
{
	z-index: 56;
	width: 357px;
	height: 410px;
	border-style: none;
	border-color: transparent;
	background-color: #FFF9F8;
	margin-top: 7px;
	position: relative;
}

#pu2533-4
{
	width: 0.01px;
	margin-left: 97px;
	margin-top: 16px;
}

#u2533-4
{
	z-index: 61;
	width: 35px;
	min-height: 6px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2534-4
{
	z-index: 65;
	width: 42px;
	min-height: 6px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 47px;
}

#u2535-4
{
	z-index: 69;
	width: 59px;
	min-height: 6px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u2532-4
{
	z-index: 57;
	width: 265px;
	min-height: 15px;
	background-color: transparent;
	line-height: 11px;
	font-size: 9px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 45px;
	margin-top: 12px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

