.version.campus_i /* version checker */
{
	color: #0000F0;
	background-color: #750945;
}

.html
{
	background-color: #2F3E72;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 965px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 18px;
	padding-bottom: 19px;
	width: 0.01px;
}

#pmenuu4131
{
	width: 0.01px;
}

#menuu4131
{
	z-index: 3;
	width: 648px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4139
{
	width: 106px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4142
{
	width: 106px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 75px;
	position: relative;
}

#u4145-4
{
	width: 106px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u4142:hover #u4145-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u4153
{
	width: 106px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#u4154
{
	width: 106px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 75px;
	position: relative;
}

#u4155-4
{
	width: 106px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u4142.MuseMenuActive #u4145-4,#u4154:hover #u4155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u4146
{
	width: 106px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u4149
{
	width: 106px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 75px;
	position: relative;
}

#u4151-4
{
	width: 106px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u4154.MuseMenuActive #u4155-4,#u4149:hover #u4151-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u4160
{
	width: 106px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 324px;
}

#u4161
{
	width: 106px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 75px;
	position: relative;
}

#u4142:hover,#u4154:hover,#u4149:hover,#u4161:hover
{
	background-color: #DD3061;
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u4162-4
{
	width: 106px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u4149.MuseMenuActive #u4151-4,#u4161:hover #u4162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u4161.MuseMenuActive #u4162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u4167
{
	width: 107px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 432px;
}

#u4168
{
	width: 107px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 75px;
	position: relative;
}

#u4169-4
{
	width: 107px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u4168:hover #u4169-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u4132
{
	width: 107px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 541px;
}

#u4135
{
	width: 107px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 75px;
	position: relative;
}

#u4168:hover,#u4135:hover
{
	background-color: #DD3061;
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u4137-4
{
	width: 107px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u4168.MuseMenuActive #u4169-4,#u4135:hover #u4137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u4135.MuseMenuActive #u4137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u4119
{
	z-index: 45;
	width: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 665px;
}

#u4121
{
	z-index: 46;
	width: 105px;
	border-style: none;
	border-color: transparent;
	background-color: #FFAB3E;
	padding-bottom: 35px;
	position: relative;
	margin-right: -10000px;
}

#u4121:hover
{
	width: 105px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4120-4
{
	z-index: 47;
	width: 73px;
	min-height: 21px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	color: #FAFFE6;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 17px;
}

#u4193
{
	z-index: 2;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 770px;
	background: #5165AD url("../images/facebook.png") no-repeat center center;
}

#u4174
{
	z-index: 40;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 875px;
	background: #3FB6EA url("../images/twitter.png") no-repeat center center;
}

#u4193:hover,#u4174:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 105px;
	height: 95px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#menuu5117
{
	z-index: 56;
	width: 981px;
	border-style: none;
	border-color: transparent;
	background-color: #F73C43;
	margin-left: 1px;
	margin-top: 18px;
	position: relative;
}

#u5153
{
	width: 194px;
	min-height: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5154
{
	width: 192px;
	border-width: 1px;
	border-style: solid;
	border-color: #F73C43;
	background-color: #F73C43;
	padding-bottom: 25px;
	position: relative;
}

#u5154:hover
{
	border-color: #EF5350;
	background-color: #EF5350;
	width: 192px;
	min-height: 0px;
	margin: 0px;
}

#u5157-4
{
	width: 192px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u5154:hover #u5157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 192px;
	margin: 0px -10000px 0px 0px;
}

#u5154:active #u5157-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 192px;
	margin: 0px -10000px 0px 0px;
}

#u5160
{
	width: 194px;
	min-height: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u5163
{
	width: 192px;
	border-width: 1px;
	border-style: solid;
	border-color: #F73C43;
	background-color: #F73C43;
	padding-bottom: 25px;
	position: relative;
}

#u5163:hover
{
	border-color: #EF5350;
	background-color: #EF5350;
	width: 192px;
	min-height: 0px;
	margin: 0px;
}

#u5154:active,#u5163:active
{
	border-color: #EF5350;
	background-color: #D32F2F;
	width: 192px;
	min-height: 0px;
	margin: 0px;
}

#u5166-4
{
	width: 192px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u5154.MuseMenuActive #u5157-4,#u5163:hover #u5166-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 192px;
	margin: 0px -10000px 0px 0px;
}

#u5163:active #u5166-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 192px;
	margin: 0px -10000px 0px 0px;
}

#u5163.MuseMenuActive #u5166-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 192px;
	margin: 0px -10000px 0px 0px;
}

#u5146
{
	width: 195px;
	min-height: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 392px;
}

#u5147
{
	width: 193px;
	border-width: 1px;
	border-style: solid;
	border-color: #F73C43;
	background-color: #F73C43;
	padding-bottom: 25px;
	position: relative;
}

#u5147:hover
{
	border-color: #EF5350;
	background-color: #EF5350;
	width: 193px;
	min-height: 0px;
	margin: 0px;
}

#u5148-4
{
	width: 193px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u5147:hover #u5148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 193px;
	margin: 0px -10000px 0px 0px;
}

#u5147:active #u5148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 193px;
	margin: 0px -10000px 0px 0px;
}

#u5118
{
	width: 195px;
	min-height: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 589px;
}

#u5119
{
	width: 193px;
	border-width: 1px;
	border-style: solid;
	border-color: #F73C43;
	background-color: #F73C43;
	padding-bottom: 25px;
	position: relative;
}

#u5119:hover
{
	border-color: #EF5350;
	background-color: #EF5350;
	width: 193px;
	min-height: 0px;
	margin: 0px;
}

#u5120-4
{
	width: 193px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u5147.MuseMenuActive #u5148-4,#u5119:hover #u5120-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 193px;
	margin: 0px -10000px 0px 0px;
}

#u5119:active #u5120-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 193px;
	margin: 0px -10000px 0px 0px;
}

#u5119.MuseMenuActive #u5120-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 193px;
	margin: 0px -10000px 0px 0px;
}

#u5125
{
	width: 195px;
	min-height: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 786px;
}

#u5126
{
	width: 193px;
	border-width: 1px;
	border-style: solid;
	border-color: #F73C43;
	background-color: #F73C43;
	padding-bottom: 25px;
	position: relative;
}

#u5126:hover
{
	border-color: #EF5350;
	background-color: #EF5350;
	width: 193px;
	min-height: 0px;
	margin: 0px;
}

#u5147:active,#u5119:active,#u5126:active
{
	border-color: #EF5350;
	background-color: #D32F2F;
	width: 193px;
	min-height: 0px;
	margin: 0px;
}

#u5126.MuseMenuActive
{
	border-color: #F73C43;
	background-color: #F73C43;
	width: 193px;
	min-height: 0px;
	margin: 0px;
}

#u5128-4
{
	width: 179px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u5126:hover #u5128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 179px;
	margin: 0px -10000px 0px 0px;
}

#u5126:active #u5128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 179px;
	margin: 0px -10000px 0px 0px;
}

#u5126.MuseMenuActive #u5128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 179px;
	margin: 0px -10000px 0px 0px;
}

#u5127
{
	z-index: 87;
	width: 14px;
	height: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 179px;
}

.ie #u5127
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5126:hover #u5127
{
	background-color: transparent;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

.ie #u5126:hover #u5127
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5126:active #u5127
{
	background-color: transparent;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

.ie #u5126:active #u5127
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5126.MuseMenuActive #u5127
{
	background-color: transparent;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

.ie #u5126.MuseMenuActive #u5127
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5130
{
	width: 194px;
	background-color: transparent;
	top: 46px;
}

#u5131
{
	width: 194px;
	background-color: transparent;
	position: relative;
}

#u5131:active
{
	background-color: #D32F2F;
	width: 194px;
	min-height: 0px;
	margin: 0px;
}

#u5140
{
	width: 192px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #F73C43;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
}

#u5143-4
{
	width: 184px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	left: 2px;
}

#u5140:hover #u5143-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 184px;
	margin: 0px -10000px 0px 0px;
}

#u5139,#u5132
{
	width: 194px;
	background-color: transparent;
	position: relative;
}

#u5133
{
	width: 192px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #F73C43;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
}

#u5140:hover,#u5133:hover
{
	background-color: #AAAAAA;
	width: 192px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5135-4
{
	width: 184px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 6px;
	left: 2px;
}

#u5140.MuseMenuActive #u5143-4,#u5133:hover #u5135-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 184px;
	margin: 0px -10000px 0px 0px;
}

#u5133.MuseMenuActive #u5135-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 184px;
	margin: 0px -10000px 0px 0px;
}

#u4118
{
	z-index: 51;
	width: 980px;
	border-style: none;
	border-color: transparent;
	background-color: #FFF9F8;
	padding-bottom: 367px;
	margin-top: 19px;
	position: relative;
}

#u4498-4
{
	z-index: 52;
	width: 456px;
	min-height: 91px;
	background-color: transparent;
	line-height: 92px;
	font-size: 77px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 259px;
	left: 262px;
}

#u4126-4
{
	z-index: 41;
	width: 320px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 330px;
	margin-top: 20px;
	position: relative;
}

body
{
	position: relative;
	min-width: 980px;
}

#page .verticalspacer
{
	clear: both;
}

