.version.dicas_em_v_deos /* version checker */
{
	color: #0000F0;
	background-color: #D994F8;
}

.html
{
	background-color: #2F3E72;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 965px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 18px;
	padding-bottom: 18px;
	width: 0.01px;
}

#pmenuu8452
{
	width: 0.01px;
}

#menuu8452
{
	z-index: 3;
	width: 648px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8467
{
	width: 106px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8470
{
	width: 106px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 75px;
	position: relative;
}

#u8473-4
{
	width: 106px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u8470:hover #u8473-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u8453
{
	width: 106px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#u8456
{
	width: 106px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 75px;
	position: relative;
}

#u8459-4
{
	width: 106px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u8470.MuseMenuActive #u8473-4,#u8456:hover #u8459-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u8481
{
	width: 106px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u8482
{
	width: 106px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 75px;
	position: relative;
}

#u8483-4
{
	width: 106px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u8456.MuseMenuActive #u8459-4,#u8482:hover #u8483-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u8488
{
	width: 106px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 324px;
}

#u8489
{
	width: 106px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 75px;
	position: relative;
}

#u8470:hover,#u8456:hover,#u8482:hover,#u8489:hover
{
	background-color: #DD3061;
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u8490-4
{
	width: 106px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u8482.MuseMenuActive #u8483-4,#u8489:hover #u8490-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u8489.MuseMenuActive #u8490-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u8474
{
	width: 107px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 432px;
}

#u8477
{
	width: 107px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 75px;
	position: relative;
}

#u8480-4
{
	width: 107px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u8477:hover #u8480-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u8460
{
	width: 107px;
	min-height: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 541px;
}

#u8463
{
	width: 107px;
	border-color: #7F7F7F;
	background-color: #F7366B;
	padding-bottom: 75px;
	position: relative;
}

#u8477:hover,#u8463:hover
{
	background-color: #DD3061;
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u8465-4
{
	width: 107px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 37px;
}

#u8477.MuseMenuActive #u8480-4,#u8463:hover #u8465-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u8463.MuseMenuActive #u8465-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u8435
{
	z-index: 45;
	width: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 665px;
}

#u8436
{
	z-index: 46;
	width: 105px;
	border-style: none;
	border-color: transparent;
	background-color: #FFAB3E;
	padding-bottom: 35px;
	position: relative;
	margin-right: -10000px;
}

#u8436:hover
{
	width: 105px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8437-4
{
	z-index: 47;
	width: 73px;
	min-height: 21px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	color: #FAFFE6;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 17px;
}

#u8434
{
	z-index: 2;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 770px;
	background: #5165AD url("../images/facebook.png") no-repeat center center;
}

#u8432
{
	z-index: 40;
	width: 105px;
	height: 95px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 875px;
	background: #3FB6EA url("../images/twitter.png") no-repeat center center;
}

#u8434:hover,#u8432:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 105px;
	height: 95px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8653
{
	z-index: 83;
	width: 980px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 18px;
	position: relative;
}

#u8657
{
	z-index: 102;
	width: 245px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8659
{
	z-index: 103;
	width: 245px;
	border-style: none;
	border-color: transparent;
	background-color: #F73C43;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u8658-4
{
	z-index: 104;
	width: 196px;
	min-height: 21px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	color: #FAFFE6;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 24px;
}

#u8663
{
	z-index: 84;
	width: 245px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 245px;
}

#u8665
{
	z-index: 85;
	width: 245px;
	border-style: none;
	border-color: transparent;
	background-color: #F73C43;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u8664-4
{
	z-index: 86;
	width: 209px;
	min-height: 21px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	color: #FAFFE6;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 18px;
}

#u8654
{
	z-index: 90;
	width: 245px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 490px;
}

#u8655
{
	z-index: 91;
	width: 245px;
	border-style: none;
	border-color: transparent;
	background-color: #F73C43;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u8656-4
{
	z-index: 92;
	width: 146px;
	min-height: 21px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	color: #FAFFE6;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 57px;
}

#u8660
{
	z-index: 96;
	width: 245px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 735px;
}

#u8661
{
	z-index: 97;
	width: 245px;
	border-style: none;
	border-color: transparent;
	background-color: #F73C43;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u8662-4
{
	z-index: 98;
	width: 205px;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	color: #FAFFE6;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 22px;
}

#u8433
{
	z-index: 51;
	width: 664px;
	border-style: none;
	border-color: transparent;
	background-color: #FFF9F8;
	margin-top: 19px;
	position: relative;
	padding: 86px 133px 21.249999999999545px 183px;
}

#u8606
{
	z-index: 52;
	width: 664px;
	min-height: 366px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u8609-6
{
	z-index: 77;
	width: 408px;
	min-height: 24px;
	background-color: transparent;
	line-height: 16px;
	font-size: 13px;
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u8608-24
{
	z-index: 53;
	width: 594px;
	min-height: 320px;
	background-color: transparent;
	margin-left: 35px;
	margin-top: 72px;
	position: relative;
}

#u8608-2
{
	font-size: 36px;
	text-align: justify;
	line-height: 43px;
	text-indent: 2px;
	padding-right: 4px;
	padding-bottom: 7px;
	color: #7F7F7F;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u8608-3,#u8608-8,#u8608-12,#u8608-16,#u8608-20
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	text-indent: 2px;
	padding-right: 4px;
	padding-bottom: 7px;
	color: #7F7F7F;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u8608-5,#u8608-7,#u8608-10,#u8608-14,#u8608-18
{
	font-weight: 700;
}

#u8608-21
{
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0px;
	color: #7F7F7F;
	font-family: abel, sans-serif;
	font-weight: 400;
}

#u8438-4
{
	z-index: 41;
	width: 320px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 330px;
	margin-top: 21px;
	position: relative;
}

body
{
	position: relative;
	min-width: 980px;
}

#page .verticalspacer
{
	clear: both;
}

